/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Universal Box Sizing with Inheritance
*/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Debut CSS
*/

.page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .page {
    flex-direction: column;
  }
}

body {
 background-color:#eee;
 color:#666;
 font-family: 'Lora', serif;
}

em {
  font-weight:700;
  font-style : italic;
}

a {
  color:#4CE5AB;
  font-weight:700;
}

.contact {
  padding-top: 20px;
}
#page {
 display:flex
}

p {
  margin-bottom: 15px;
}

nav {
 width:300px;
 font-size:1rem;
 line-height:1.2rem;
 text-decoration:none;
 color:#333;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  nav {
    width:100vw;
    flex-direction: row;
    flex-wrap:wrap;
   }
}

.logo, .edito {
  padding:30px;
}

.logo {
  width:70%;
  height: auto;
}

@media screen and (max-width: 900px) and (min-width: 401px) {
  .logo {
    width:30%;
  }
  .edito {
    width:70%;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    width:100%;
  }
  .edito {
    width:100%;
  }
}

main,
image-slider,
image-slider>div,
image-slider>div>div,
image-slider>p {
 margin:0;
 width:calc(100vw - 300px);
 height:calc(100vh - 45px);
}

@media screen and (max-width: 900px) {
  main,
  image-slider,
  image-slider>div,
  image-slider>div>div,
  image-slider>p {
   margin:0;
   width:100vw;
   height:100vh;
  }
}

image-slider>div>div>img {
 width:100%;
 height:100%;
 object-fit:contain;
 padding:20px
}

.fade-enter-active,
.fade-leave-active {
 transition:all .8s ease;
 animation:30s slidy infinite;
 overflow:hidden;
 visibility:visible;
 opacity:1;
 position:absolute
}
.fade-enter,
.fade-leave-to {
 opacity:0;
 visibility:hidden
}
image-slider>p {
 display:flex;
 align-items:stretch;
 position:absolute;
 z-index:10000
}

.prevbtn,
.nextbtn {
 display:block;
 width:50%;
 height:calc(100% - 20px);
 outline:0;
}

a.btn {
  font-weight: 200;
  color: #999;
  font-size:20px;
  text-decoration:none;
  font-style : italic;
}

a.btn:hover{
color: #4CE5AB;
}

.nextbtn {
  cursor:e-resize;
}

.prevbtn {
  cursor:w-resize;
}

.navig {
  height:40px;
}

.navig > a {
  cursor: pointer;
}

.nexttxt{
  width:50%;
  padding-left:10px;
}

.prevtxt {
  width:50%;
  text-align:right;
  padding-right:10px;
}

.st0{fill:#000000;}
.st1{fill:#4CE5AB;}
