<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photographes en Provence - Hey Joe!</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <style>@import url('https://fonts.googleapis.com/css?family=Lora:400,700,700i&display=swap');</style> 
        <div class="page">
          <nav>
            <div class="logo">
                <svg version="1.1"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                x="0px" y="0px" width="100%" height="auto" viewBox="0 0 384 445" style="enable-background:new 0 0 384 445;"
                xml:space="preserve">
                <defs>
                </defs>
                <g>
                <rect x="0" y="429" class="st0" width="98" height="16"/>
                <g>
                 <path class="st0" d="M17.6,35.3H44V0h17.6v88H44V52.9H17.6V88H0V0h17.6V35.3z"/>
                </g>
                <g>
                 <path class="st0" d="M44,202.8H17.6v17.6h35.2V238H0v-88h52.8v17.6H17.6v17.6H44V202.8z"/>
                </g>
                <g>
                 <g>
                   <path class="st1" d="M145.2,196.9L110,150h22l22,29.3l22-29.3h22.7l-35.9,47v41h-17.6V196.9z"/>
                 </g>
                </g>
                <g>
                 <path class="st0" d="M18.6,303h17.6v52.8c0,4.8-0.9,9.4-2.8,13.7c-1.8,4.3-4.3,8-7.5,11.2s-6.9,5.7-11.2,7.5
                   C10.4,390.1,5.8,391,1,391v-17.6c2.4,0,4.7-0.5,6.8-1.4c2.1-0.9,4-2.2,5.6-3.8c1.6-1.6,2.9-3.5,3.8-5.6c0.9-2.1,1.4-4.4,1.4-6.8
                   V303z"/>
                </g>
                <g>
                 <g>
                   <path class="st1" d="M109.1,347c0-6.1,1.2-11.8,3.5-17.2c2.3-5.4,5.4-10,9.4-14s8.6-7.1,14-9.4c5.4-2.3,11.1-3.5,17.2-3.5
                     c6.1,0,11.8,1.2,17.2,3.5c5.4,2.3,10,5.4,14,9.4s7.1,8.6,9.4,14c2.3,5.4,3.5,11.1,3.5,17.2c0,6.1-1.2,11.8-3.5,17.2
                     c-2.3,5.4-5.4,10-9.4,14s-8.6,7.1-14,9.4c-5.4,2.3-11.1,3.5-17.2,3.5c-6.1,0-11.8-1.2-17.2-3.5c-5.4-2.3-10-5.4-14-9.4
                     s-7.1-8.6-9.4-14C110.3,358.8,109.1,353.1,109.1,347z M126.7,347c0,3.7,0.7,7.1,2.1,10.3c1.4,3.2,3.3,6,5.7,8.4
                     c2.4,2.4,5.2,4.3,8.4,5.7c3.2,1.4,6.6,2.1,10.3,2.1c3.6,0,7-0.7,10.2-2.1c3.2-1.4,6-3.3,8.4-5.7c2.4-2.4,4.3-5.2,5.7-8.4
                     c1.4-3.2,2.1-6.6,2.1-10.3c0-3.6-0.7-7-2.1-10.2c-1.4-3.2-3.3-6-5.7-8.4c-2.4-2.4-5.2-4.3-8.4-5.7c-3.2-1.4-6.6-2.1-10.2-2.1
                     c-3.7,0-7.1,0.7-10.3,2.1c-3.2,1.4-6,3.3-8.4,5.7c-2.4,2.4-4.3,5.2-5.7,8.4C127.4,340,126.7,343.4,126.7,347z"/>
                 </g>
                </g>
                <g>
                 <path class="st0" d="M296,355.8h-26.4v17.6h35.2V391H252v-88h52.8v17.6h-35.2v17.6H296V355.8z"/>
                 <path class="st1" d="M367.5,355.8l-1.1-52.8H384l-1.1,52.8H367.5z M367.5,391v-17.6h15.4V391H367.5z"/>
                </g>
                </g>
                </svg>
            </div>
            <div class="edito">
              <p>
                Hey Joe! est né de la rencontre de Johannie Riehl et de Guillaume Ferrari. Le nom est un clin d’oeil à une chanson mythique et au surnom de Johannie.</p>
              <p>Nous aimons les photos spontanées, réelles, qui racontent une histoire, votre histoire.</p>
              <p class="contact"><em>Contact</em> : <a href="mailto:hello@heyjoe.fr">hello@heyjoe.fr</a><br>
                <em>Johannie</em> : 06 83 50 73 67
              </p>
            </div>
          </nav>
          <main>
             <image-slider>
            <p>
                <a @click="prev" class="prevbtn"></a><a @click="next" class="nextbtn"></a>
            </p>
            <transition-group name='fade' tag='div'>
                <div v-for="number in [currentNumber]" :key='number'>
                    <img :src="currentImage" />
                </div>
            </transition-group>
                  <p class="navig"><a @click="prevtxt" class="btn prevtxt" >&#x2190;</a><a @click="nexttxt" class="btn nexttxt">&#x2192;</a></p>
        </image-slider>
          </main>
        </div>
        <script src="scripts.js"></script>
</body>
</html>