/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*
    font-family: 'Lora', serif;
    font-family: 'Raleway', sans-serif;
*/
body{
  background-color: #eee;
  font-family: 'Raleway', sans-serif;
  counter-reset: menuitem; 
}

body.article{
  background-color: #fff;
}

nav {
    position: fixed;
    top:0;
    right:-320px;
    width:320px;
    background-color:rgba(10, 10, 10, 1);
    height:100vh;
}

body.ouvert nav{
    transform: matrix(1, 0, 0, 1, -320, 0);
}

nav > ul{
  padding-top: 60px;
  background-color:rgba(10, 10, 10, 1);
  display:flex;
  flex-direction: column;
  justify-content:left;
  text-align:left;
}

nav > ul > li a::before {
    counter-increment: menuitem; 
    content: counters(menuitem, "", decimal-leading-zero);
    position: relative;
    font-size: 0.85rem;
    color: #444;
    padding-right: 10px;
}

nav > ul > li:hover a::before {
  color:  #4CE5AB;
}


nav h1 {
  padding-left:5vw;
  font-family: tenez, serif;
  font-weight: 700;
  font-size:1.5em;
}

nav ul li a {
  text-decoration:none;
  color : #ccc;
  padding-left:15px;
  line-height:1.5em;
  font-size:2em;
  font-family: 'Lora', serif;
}

nav ul li a:hover {
  text-decoration:none;
}

a[actif="non"], nav > ul > li:hover a[actif="non"]::before, nav > ul > li [actif="non"]::before,
nav ul li [actif="non"]:hover  {
  color:#444;
  text-decoration: line-through;
}

header {
  display: block;
  position: fixed;
  top:0px;
  left:0px;
  color:#111;
  padding: 40px;
  z-index:1001;
}

h1.logo {
  font-family: tenez, serif;
  font-weight: 700;
  font-size: 2em;
  text-align : left;
  border-bottom : solid black 1px;
/*  font-family: 'Lora', serif;
  font-size: 4em;
  padding-bottom: 1em;
  font-style: italic;
  font-weight: 200;
  */
}

.logo{
    width:100px;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.petit .logo{
  width:50px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.switch {
  cursor:pointer;
  position: fixed;
  top:30px;
  right:30px;
  z-index: 2000000;
}

.page{
  background-color: rgba(234, 231, 225, 0.5);
  display:flex;
  flex-wrap: wrap;
  width:90vw;
  margin:5vw auto;
}

.content{
    width: 100vw;
    position:relative;
    left:0;
}

body.ouvert nav{
    transform: matrix(1, 0, 0, 1, -320, 0);
}
  
body.ouvert .content{
    left:-320px;
}
  
.content, body.ouvert .content, body.ouvert nav, nav{
    transition: all 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.side{
  width:60%;
}

.right{
  width:40%;
  padding: 5vw ;
}

@media screen and (max-width: 900px) {
  .side{
    width:100%;
  }
  .right{
    width:100%;
    padding: 5vw ;
  }
}

.side img {
  width:100%;
  height:auto;
}

.right p{
  font-size: 1em;
  line-height: 2em;
}

.date {
  font-size: 0.7em;
  padding-bottom: 4em;
}

.right h1 {
  font-family: 'Lora', serif;
  font-size: 4em;
  padding-bottom: 1em;
  font-style: italic;
}

.galerie {
  display:flex;
  flex-wrap: wrap;
  padding:6vw;
}

.galerie span {
  padding:2vw;
  width : 50%;
}

@media screen and (max-width: 900px) {
  .galerie span{
    width:100%;
  }
}

.galerie span img{
  width : 100%;
}

.portfoliogrid{
  padding-top: 39px;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
}

.portfoliogrid .title {
  display: block;
  text-align: center;
}

.ouvert .switchcircle {
    fill: #4CE5AB;
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* page accueil */

body {
  margin: 0;
  padding: 0;
}

#slide1 {
  background-image: url(images/heyjoe-141.jpg);
}

#slide2 {
  background-image: url(images/heyjoe-10.jpg);
}

#slide3 {
  background-image: url(images/heyjoe-32.jpg);
}

#slide4 {
  background-image: url(images/heyjoe-45.jpg);
}

#slide5 {
  background-image: url(images/heyjoe-100.jpg);
}

.slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.slide:nth-child(n+2) {
  background-attachment: fixed;
}

.scroll {
  background-attachment: scroll!important;
}

/* page slider */

main,
image-slider,
image-slider>div,
image-slider>div>div,
image-slider>p {
 margin:0;
 width:calc(100vw - 300px);
 height:calc(100vh - 45px);
}

.contenu {
  margin-left: 300px;
}

@media screen and (max-width: 900px) {
  main,
  image-slider,
  image-slider>div,
  image-slider>div>div,
  image-slider>p {
   margin:0;
   width:100vw;
   height:100vh;
  }
}

image-slider>div>div>img {
 width:100%;
 height:100%;
 object-fit:contain;
 padding:20px
}

.fade-enter-active,
.fade-leave-active {
 transition:all .8s ease;
 animation:30s slidy infinite;
 overflow:hidden;
 visibility:visible;
 opacity:1;
 position:absolute
}
.fade-enter,
.fade-leave-to {
 opacity:0;
 visibility:hidden
}
image-slider>p {
 display:flex;
 align-items:stretch;
 position:absolute;
 z-index:10000
}

.prevbtn,
.nextbtn {
 display:block;
 width:50%;
 height:calc(100% - 20px);
 outline:0;
}

a.btn {
  font-weight: 200;
  color: #999;
  font-size:20px;
  text-decoration:none;
  font-style : italic;
}

a.btn:hover{
color: #4CE5AB;
}

.nextbtn {
  cursor:e-resize;
}

.prevbtn {
  cursor:w-resize;
}

.navig {
  height:40px;
}

.navig > a {
  cursor: pointer;
}

.nexttxt{
  width:50%;
  padding-left:10px;
}

.prevtxt {
  width:50%;
  text-align:right;
  padding-right:10px;
}

.st0{fill:#000000;}
.st1{fill:#000000;transition: fill .4s ease;}

.edito {
  width:200px;
  padding-top:30px;
  font-size:0.8rem;
  line-height:1.2rem;
  text-decoration:none;
  font-family: 'Lora', serif;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.5s linear;
}

.edito p {
  margin-top: 1em;
}

.edito em {
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 700;
}

.appear .edito{
  visibility: visible;
  opacity: 1;
  transition: visibility 0.4s, opacity 0.5s linear;
}

.appear .st1{
  transition: fill .4s ease;
  fill:#4CE5AB;
}

.contenu {
  margin-left: 300px;
}

.reportages {
  background-color: #fff;
  padding: 40px 0;
}

.reportages > .title{
  font-family: 'Lora', serif;
  text-align: center;
  margin : 5em 0;
}

.reportages > .title > h2{
  font-size: 2em;
  margin-bottom: 0.8em;
  padding-top: 2em;
}

.reportages > .title > h3{
  font-size: 1em;
  padding-bottom: 0.8em;
  font-style: italic;
  width:50%;
  margin:auto;
}

.reportages > .title > p > a{
  font-size: 0.8em;
  color:#000000;
}

.reportages > .featured {
  display: flex;
}

.reportages > .featured a{
  text-decoration: none;
  color: #000000;
}

.reportages > .featured > .gauche{
  width: 40%;

}

.reportages > .featured > .droite{
  width: 60%;
}

.reportages > .featured.gauche > .gauche{
  width: 60%;

}
.reportages > .featured.gauche > .droite{
  width: 40%;
}

.reportages > .featured  img{
  width: 100%;
}

.reportages > .featured h2{
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.8em;
  font-family: 'Lora', serif;
  line-height: 1.6em;
}

.reportages > .featured h3{
  font-size: 1.3em;
  color: #4CE5AB;
  font-weight: 700;
  margin-bottom: 0.8em;
  font-family: 'Lora', serif;
  line-height: 1.2em;
}

.reportages > .featured p{
  line-height: 1.6em;
}

.reportages > .featured p, .reportages > .featured h2, .reportages > .featured h3{
  width: 60%;
  margin-left:30%;
  margin-right:10%;
}

.reportages > .featured.gauche p, .reportages > .featured.gauche h2, .reportages > .featured.gauche h3{
  width: 60%;
  margin-left:10%;
  margin-right:30%;
}